@model IEnumerable<MVC_Team_Git_JooleMay_Service.Models.SMProductDetails>


<div class="col-md-9">
    <form style=" padding:5px">
        @foreach (var product in Model)
        {
            <div id="@Html.DisplayFor(modelItem => product.ProductID)" style="float:left;margin-left:10px;margin-top:10px;border: 3px solid gray; text-align: center; display: inline-block; width: 200px; height: 400px;" onclick="myFunction(this)">
                <img src="@product.ProductImgUrl" id="image">
                @*<img src="" @product.ProductID'.jpg" style="width:80px;height:60px">*@
                <br />
                <b> @Html.ActionLink("" + @Html.DisplayFor(modelItem => product.ManufactureName) + "", "Summa", "Home", new { id = @Html.DisplayFor(modelItem => product.ProductID) }, new { @class = "my-class" })</b>
                <br />
                <b>@Html.DisplayFor(modelItem => product.SeriesName)</b><br />
                <b>@Html.DisplayFor(modelItem => product.ProductModel)</b><br />
                @*@foreach (var c in product.Specifications)
                    {
                        @Html.DisplayFor(modelItem => specifications)<br />
                    }
                    @Html.DisplayFor(modelItem => product.Specifications)<br />*@
                <input type="checkbox" name="compare" value=@Html.DisplayFor(modelItem => product.ProductID) /> <b>Compare</b>
                <input class="btn btn-primary" type="submit" value="Add to">
            </div>
        }
    </form>
</div>
