@model MVC_Team_Git_JooleMay.Models.VMRegister





<div id="myModal" class="modal">


    <div class="modal-content">
        <span class="close">&times;</span>
        <h4>Register as User</h4>
        <div id="modalContext">

            @*<form id="myForm"></form>*@
            @using (Html.BeginForm("DoLogin", "LoginPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.Label("", "Image Preview", htmlAttributes: new { @class = "control-label col-md-12", id = "imgLbl" })
                        </div>
                        <div class="col-sm-2 col-sm-offset-5 thumbnail" id="imgPreview" style="margin-bottom:-7px; display:normal;">
                            <img style="width:100px" src="~/image/defaultImage.png" id="targetImg" alt="image" />
                        </div>
                        <div class="col-md-12">
                            @Html.Label("", "Your Profile Pic", htmlAttributes: new { @class = "control-label col-md-12", id = "imgLbl" })
                        </div>
                        <div class="col-md-12 col-sm-5 col-sm-offset-4">
                            <input type="file" name="userImage" id="userImage" />
                        </div>
                        <div class="col-md-12 col-sm-5 ">
                            <label id="lblMsg" style="color:red;font-weight: 100;font-size:12px;">@Model.ValidMessage</label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "User name" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Id" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", type = "password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" id="btnSubmit" class="btn btn-success submit" />
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
